@page "/MemberTeamStatus"

<div class="infotable" id="MemberTeamStatusTable">
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Sport</th>
            <th>Team/s</th>
            <th>Status</th>
            <th>Membership owed</th>
            <th>Note</th>
            <th>#ID</th>
        </tr>
    </thead>
    <tbody>
        <!--@foreach (Member member in members)
        {
        <tr @onclick="() => member.ToggleSelect()" class="@(member.selected ? "selected" : "")">
            <td>@member.name</td>
            <td>@member.Sport</td>
            <td>@member.Teams</td>
            <td>@member.Status</td>
            <td>@member.MembershipOwed</td>
            <td>@member.note</td>
            <td>@member.id</td>
        </tr>
        }-->
    </tbody>
</table>
</div>

@code {

}